body {
  background-color: #bfd3ff;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

h1 {
  text-align: center;
  color: white;
  margin-top: 100px;

  font-family: monospace;
  font-size: 32pt;
}

canvas:focus {
  outline: none;
}
